@import "../base/base";

button.tiu-button {
    -webkit-appearance: none;
    border-width: 0;
    width: 100%;
    outline: 0;
}

.tiu-button {
    position: relative;
    overflow: hidden;
    line-height: 3;
    font-size: 1em;
}

.tiu-button-default {
    background-color: #f8f8f8;
    color: $theme-color;
    &:active {
        background-color: $tiu-button-default-active;
        color: rgba(249, 90, 41, 0.5);
    }
}

.tiu-button-primary {
    background-color: $tiu-button-primary;
    color: #fff;
    &:active {
        background-color: $tiu-button-primary-active;
        color: rgba(255, 255, 255, 0.5);
    }
}

.tiu-button-delete {
    background-color: $tiu-button-delete;
    color: #fff;
    &:active {
        background-color: $tiu-button-delete-active;
        color: rgba(255, 255, 255, 0.5);
    }
}
