@import "theme";

/* button */
$tiu-button-default: #f2f2f2;
$tiu-button-default-active: #eee;
$tiu-button-primary: $theme-color;
$tiu-button-primary-active: #ec5e2a;
$tiu-button-delete: #dd2B2B;
$tiu-button-delete-active: #dd2B2B;

/* dialog */
$tiu-dialog-background-color: #fff;
$tiu-dialog-horizontal-padding: 1.6em;
$tiu-dialog-button-text-default: #999;
$tiu-dialog-button-text-primary: $theme-color;
$tiu-dialog-button-border: #ddd;
$tiu-dialog-button-active: #f6f6f6;
